.hiddenCanvasContainer {
    visibility: hidden;
    display: none;
}
#files_container {
    width: 100%;
}
.container_cells {
    float: left;
    margin: 8px;
}
#tblCutToolkit {
    /*background-color: #c0c0c0;*/
    position: fixed;
    top: 10px;
    /*width: 100%;*/
    z-index: 1000;
}
